html {
  background-color: #003469;
  background: url(../images/body.gif) repeat scroll;
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
}

#map{
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;

}

#container {
  display: inline;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#sidebar {
  left: 0;
  position: fixed;
  float: left;
  margin: 0;
  background: #002447;
  width: 256px;
  height: 100%
}

#content {
  position: relative;
  display: inline;
  clear: both;
  float: left;
  margin-right: 52px;
  margin-left: 256px;
  height: 100%;
  max-height: 100%;
  min-width: 800px;
}

#test {
  display: inline;
  clear: both;
}

#pingCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index:11;
}

#layerCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12;
}
#layerHeading {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12; 
}
#layerTWD {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12; 
}
#layerWaypoint {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12; 
}
#layerCompasheading {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12; 
}
#layerBoat {
  position: absolute;
  left: 0;
  top: 0;
  z-index:12; 
}

#boatData {
  float: right;
  padding: 16px;
  width: 30%;
  height: 100%;
  color: white;
}

#boatData p {
  margin: 0;
  font-size: 12px;
}

#dataName {
  float: left;
  width: 40%;
}

#dataValue {
  float: right;
  width: 60%;
}

#loglist {
  color: #002447;
  font-size: 10px;
  bottom: 0;
  left: 0;
  background-color: #44688a;
  position: fixed;
  float: bottom;
  margin: 0;
  width: 100%;
}



#sponsors {
  right: 0;
  position: fixed;
  float: right;
  margin: 0;
  background: #002447;
  width: 52px;
  height: 100%
}

#logo {
  padding: 16px 16px;
}
