html {
	background-color: #003469;
	background: url("images/body.gif") repeat;
	height: 100%;
}

body {
	color: white;
}

#map{
	position: absolute;
	width: 700px;
	height: 700px;
	left: 150px;
	top: 140px;

}


#pingCanvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index:11;
}

#layerCanvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}
#layerHeading {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}
#layerTWD {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}
#layerWaypoint {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}

#layerCompasHeading {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}

#layerBoatHeading {
	position: absolute;
	left: 0;
	top: 0;
	z-index:12;
}

#boatData {
	float: right;
	padding: 16px;
	width: 30%;
	height: 100%;
	color: white;
}

#boatData p {
	margin: 0;
	font-size: 12px;
}

#boatDataGps {
	float: right;
	padding: 16px;
	width: 30%;
	height: 100%;
	color: white;
}

#boatDataGps p {
	margin: 0;
	font-size: 12px;
}


#dataName {
	float: left;
	width: 40%;
}
#dataNameGps {
	float: left;
	width: 40%;
}
#dataNamesCourse {
	float: left;
	width: 40%;
}
#dataNamesWindSensor {
	float: left;
	width: 40%;
}
#dataNamesWindSensor {
	float: left;
	width: 40%;
}
#dataNamesSystem {
	float: left;
	width: 40%;
}
#dataNamesCompass {
	float: left;
	width: 40%;
}
#dataValue {
	float: right;
	width: 60%;
}
#dataValueGps {
	float: right;
	width: 60%;
}
#dataValuesCourse {
	float: right;
	width: 60%;
}
#dataValuesWindSensor {
	float: right;
	width: 60%;
}
#dataValuesSystem{
	float: right;
	width: 60%;
}
#dataValuesCompass{
	float: right;
	width: 60%;
}
