#menu {
  padding: 16px 0;
}

#menu ul {

  padding: 0 0;
  margin: 0 0;
  width: 256px;
  list-style: none;
  position: relative;
  display: inline-table;
  font-size: 18px;
}

#menu ul:after {
  content: "";
  clear: both;
  display: block;
}

#menu ul li {
  float: left;
  padding: 0 0;
  margin: 0 0;
  width: 256px;
}

#menu ul li:hover {
}

#menu ul li:hover a {
  color: #99B2CC;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

#menu ul li:hover > ul {
  visibility: visible;
  display: block;
  height:auto;
}

#menu ul li:hover > ul li a {
  color: #fcfdfd;
}

#menu ul li:hover > ul li a:hover {
  color: #99B2CC;
}

#menu ul li a {
  display: block;
  padding: 8px 40px;
  color: #fcfdfd;
  text-decoration: none;
}

#menu ul ul {
  visibility:hidden;
  display: none;
  background: #155B91;
}

#menu ul ul li {
  float: none;
  position: relative;
  border-style: none;
  border-top: solid 1px;
  border-color: #194775;
}

#menu ul ul li a {
  padding: 8px 40px;
}
